.plansScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.6;
}
.plansScreen__plan:hover {
    opacity: 1;
}

.plansScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #FFF;
    background-color: #E50914;
    border: none;
    font-weight: 600;
    cursor:pointer;
}